.sea__text{
    background-color: #f2f2f2;
    padding: 70px 0 70px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
@media screen and (max-width:1279px){
    .sea__text{
        padding: 70px 0 90px 55px;
         }
    }
@media screen and (max-width:1023px){
    .sea__text{
<<<<<<< HEAD
        padding: 24px;
=======
        padding: 30px;
>>>>>>> places
             }
        }
@media screen and (max-width:767px){
    .sea__text {
<<<<<<< HEAD
        padding: 20px 20px 50px 20px;
        order: 1;
=======
        padding: 20px 24px 50px 24px;
>>>>>>> places
    }
}
@media screen and (max-width: 424px) {
    .sea__text{
        padding: 16px;
        }
    }