.schedule {
  background-color: #f2f2f2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  auto;
}

@media screen and (max-width: 767px) {
  .schedule {
    grid-template-rows: repeat(2, 1fr);

  }

}