.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fecda7;
  min-height: 666px;
}

@media screen and (max-width: 1279px) {
  .footer {
    min-height: 576px;
  }
}


@media screen and (max-width: 1023px) {
  .footer {
    min-height: 432px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    min-height: 214px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    min-height: 180px;
  }
}

