.schedule__button {
  color: #fff;
  background-color: #000;
  width: calc(100% - 166px);
  margin: 20px 0 0 166px;
  border: none;
  height: 35px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

@media screen and (max-width: 1376px) {
  .schedule__button {
    width: calc(100% - 135px);
    margin: 20px 0 0 135px;
  }
}

@media screen and (max-width: 1279px) {
  .schedule__button {
    width: calc(100% - 140px);
    margin: 20px 0 0 140px;
  }
}

@media screen and (max-width: 424px) {
  .schedule__button {
    width: 100%;
    margin: 20px 0 0;
  }
}