.schedule__place {
border: none;
padding: 9px 18px;
margin: 0 0 20px;
}

.schedule__place::placeholder {
  color: #000;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4%;
}